.tabs {
    text-align: center;
}

.tabs a {
    display: inline-block;
    margin: 0 6% 0 0;
    font-size: 30px;
}

.message{
    background: dodgerblue;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 40px;
}

.message a {
    color: black;
}
.panel-custom{
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.status{
    color: dodgerblue;
    font-weight: bold;
}

.panel-height{
    display: block;
    height: 500px;
}

.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}
.strike {
    text-decoration: line-through;
}

.userProfile {
    margin-left: 2%;
}

.friend {
    color: green;
}

select {
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance:none;
    border: none;
    cursor: pointer;
}

/*for IE10*/
select::-ms-expand {
    display: none;
}

.btn-game {
    display: inline-block;
    margin-left: 20px;
}

.messages-panel {
    margin-left: 20px;
    display: inline-block;
}